@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* FONTS */
$monospace: 'Cousine', monospace;
$sans: 'Lato', sans-serif;

/* COLORS */
$darkgreen: #2c4023;
$yellow: #ffec3c;
$salmon: #edae9f;
$grey: #333333;