@import '../../styles/_variables.scss';

.App {
  height: 95vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  background-color: $darkgreen;
  border: 1px solid black;
  box-shadow: 8px 8px black;
  margin: 0 auto;
}

a, button, Link {
  font-family: $sans;
  background-color: $yellow;
  color: black;
}
